@charset "utf-8";
.row .col-lg-12 .jumbotron {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 150%;
	top: 0px;
	text-align: center;
}
.text-center {
	margin-left: -0px;
	width: auto;
	font-size: 3000%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
.row .text-center.col-sm-6 h3 {
	font-size: small;
	background-clip: border-box;

}
.col-lg-12 div h3 {
}

.row .text-center.col-sm-6 h3 {
	font-size: x-large;
}
.container .row .col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.jumbotron blockquote .text-center {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	width: auto;
	font-size: 270%;
}
.jumbotron blockquote .text-center {
	font-size: 300%;
	padding-top: 30px;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	height: 20%;
	display: table-cell;
}
body p {
	font-size: medium;
}
body {
	background-image: url(url), -webkit-linear-gradient(270deg,rgba(227,248,247,1.00) 0%,rgba(95,209,204,1.00) 100%);
	background-image: url(url), -moz-linear-gradient(270deg,rgba(227,248,247,1.00) 0%,rgba(95,209,204,1.00) 100%);
	background-image: url(url), -o-linear-gradient(270deg,rgba(227,248,247,1.00) 0%,rgba(95,209,204,1.00) 100%);
	background-image: url(url), linear-gradient(180deg,rgba(227,248,247,1.00) 0%,rgba(95,209,204,1.00) 100%);
}
div.jum {
	background-color: #B2DEF4;
}
.row .col-lg-12 .jumbotron {
	background-color: #FFFFFF;
}

.col-lg-12 .jumbotron .img-responsive {
	margin-top: 0px;
}
.row .text-center.col-sm-6 p {
	text-shadow: 0px 0px;
}
div.c {
}
.col-lg-12 div p {
	text-align: center;

}
.col-lg-12 div h3 {
	text-align: center;
	font-size: xx-large;
}
div p footer {
	text-align: center;
	min-height: 0px;
	max-height: 0px;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	top: 200%;


}
.jumbotron blockquote .h3 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 240%;
	display: run-in;
	background-size: 40% 40%;
}
.jumbotron blockquote h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 300%;
	background-size: contain;
	background-origin: border-box;
	padding-top: 0px;
}
.col-lg-12 .jumbotron h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 260%;
	padding-top: 5%;
	margin-bottom: 0%;
	text-shadow: 2px 0px #0FE5F0;
}

.jumbotron blockquote h3 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 210%;
	padding-top: px;
}
.col-lg-12 div h3 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-shadow: 0px 0.5px #0FE5F0;
	text-decoration: underline;
}
.col-lg-12 div .col-lg-4.col-md-12 {
	text-align: justify;
}
div section .container.well {
}
section .container.well .row {
}
